body {
    background: url("../images/Marvel.PNG") no-repeat center center fixed;
    background-size: cover;
}

h1{
	font-family: "orange_juiceregular";
	/* font-size: 90px; */
	margin-top: 3vh;
    margin-bottom: 1vh;
	color: wheat;
}

.row{
	margin-bottom: 4vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.btn{
	font-family: "minnieregular";
	font-size: 16px;
	background-color: #1c5677;
	color: white;
	padding: 1vh 1vw;
}

.btn:hover{
	color: #efad07;
}

.btn:focus{
	outline: 2px solid #efad07 !important;
	background-color: #1680bc;
	color: #efad07;
}

.marvel-button{
	margin: .5vh 1vw;
}

.dotted-border{
	border: 6px dotted #efad07;
}

.comic-sans-font{
	font-family: "Comic Sans MS";
	font-size: 18px;
	font-weight: 800;
	color: wheat;
}


#submit{
	margin-top: 1.5vh;
}

#marvel-show{
	margin-top: 1.5vh;
	width: 100%;
}

#marvel-show:focus{
	outline: 2px solid #efad07 !important;
}

#gif-container{
	font-size: 22px;
}